In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path = r'C:\Users\moiez\OneDrive\Desktop\pokemon_data.csv'

In [3]:
df = pd.read_csv(path)
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [4]:
# find row where generation is 5
df[df["Generation"] == 5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
553,494,Victini,Psychic,Fire,100,100,100,100,100,100,5,True
554,495,Snivy,Grass,NaN,45,45,55,45,55,63,5,False
555,496,Servine,Grass,NaN,60,60,75,60,75,83,5,False
556,497,Serperior,Grass,NaN,75,75,95,75,95,113,5,False
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
713,647,KeldeoOrdinary Forme,Water,Fighting,91,72,90,129,90,108,5,False
714,647,KeldeoResolute Forme,Water,Fighting,91,72,90,129,90,108,5,False
715,648,MeloettaAria Forme,Normal,Psychic,100,77,77,128,128,90,5,False
716,648,MeloettaPirouette Forme,Normal,Fighting,100,128,90,77,77,128,5,False
717,649,Genesect,Bug,Steel,71,120,95,120,95,99,5,False

In [5]:
# find a row where speed is maximum
max(df["Speed"])

180

In [6]:
max = df["Speed"].max()
max

180

In [7]:
# find a row where speed is minimum
min(df["Speed"])

5

In [8]:
# find the rows where attack is equal to average
df["Attack"].mean()

79.00125

In [9]:
int(df["Attack"].mean())

79

In [10]:
avg = int(df["Attack"].mean())
avg

79

In [11]:
df[df["Attack"] == avg]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
459,413,WormadamSandy Cloak,Bug,Ground,60,79,105,59,85,36,4,False

In [12]:
# find all pokemon where type 1 is water
df["Type 1"] == "Water"

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Name: Type 1, Length: 800, dtype: bool

In [13]:
df[df["Type 1"] == "Water"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
724,656,Froakie,Water,NaN,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,54,63,52,83,56,97,6,False
726,658,Greninja,Water,Dark,72,95,67,103,71,122,6,False
762,692,Clauncher,Water,NaN,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,71,73,88,120,89,59,6,False

In [14]:
# Find all rows where type 1 is rock and speed is greater than 100
df["Type 1"]

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 800, dtype: object

In [15]:
df["Type 1"] == "Rock"

0      False
1      False
2      False
3      False
4      False
       ...
795     True
796     True
797    False
798    False
799    False
Name: Type 1, Length: 800, dtype: bool

In [16]:
df[df["Type 1"] == "Rock"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
80,74,Geodude,Rock,Ground,40,80,100,30,30,20,1,False
81,75,Graveler,Rock,Ground,55,95,115,45,45,35,1,False
82,76,Golem,Rock,Ground,80,120,130,55,65,45,1,False
103,95,Onix,Rock,Ground,35,45,160,30,45,70,1,False
149,138,Omanyte,Rock,Water,35,40,100,90,55,35,1,False
150,139,Omastar,Rock,Water,70,60,125,115,70,55,1,False
151,140,Kabuto,Rock,Water,30,80,90,55,45,55,1,False
152,141,Kabutops,Rock,Water,60,115,105,65,70,80,1,False
153,142,Aerodactyl,Rock,Flying,80,105,65,60,75,130,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False
200,185,Sudowoodo,Rock,NaN,70,100,115,30,65,30,2,False
265,246,Larvitar,Rock,Ground,50,64,50,45,50,41,2,False
266,247,Pupitar,Rock,Ground,70,84,70,65,70,51,2,False
267,248,Tyranitar,Rock,Dark,100,134,110,95,100,61,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False
323,299,Nosepass,Rock,NaN,30,45,135,45,90,30,3,False
369,337,Lunatone,Rock,Psychic,70,55,65,95,85,70,3,False
370,338,Solrock,Rock,Psychic,70,95,85,55,65,70,3,False
377,345,Lileep,Rock,Grass,66,41,77,61,87,23,3,False
378,346,Cradily,Rock,Grass,86,81,97,81,107,43,3,False
379,347,Anorith,Rock,Bug,45,95,50,40,50,75,3,False
380,348,Armaldo,Rock,Bug,75,125,100,70,80,45,3,False
414,377,Regirock,Rock,NaN,80,100,200,50,100,50,3,True
453,408,Cranidos,Rock,NaN,67,125,40,30,30,58,4,False
454,409,Rampardos,Rock,NaN,97,165,60,65,50,58,4,False
455,410,Shieldon,Rock,Steel,30,42,118,42,88,30,4,False
456,411,Bastiodon,Rock,Steel,60,52,168,47,138,30,4,False
486,438,Bonsly,Rock,NaN,50,80,95,10,45,10,4,False
528,476,Probopass,Rock,Steel,60,55,145,75,150,40,4,False
583,524,Roggenrola,Rock,NaN,55,75,85,25,25,15,5,False
584,525,Boldore,Rock,NaN,70,105,105,50,40,20,5,False
585,526,Gigalith,Rock,NaN,85,135,130,60,80,25,5,False
627,566,Archen,Rock,Flying,55,112,45,74,45,70,5,False
628,567,Archeops,Rock,Flying,75,140,65,112,65,110,5,False
700,639,Terrakion,Rock,Fighting,91,129,90,72,90,108,5,True
758,688,Binacle,Rock,Water,42,52,67,39,56,50,6,False
759,689,Barbaracle,Rock,Water,72,105,115,54,86,68,6,False
766,696,Tyrunt,Rock,Dragon,58,89,77,45,45,48,6,False
767,697,Tyrantrum,Rock,Dragon,82,121,119,69,59,71,6,False
768,698,Amaura,Rock,Ice,77,59,50,67,63,46,6,False
769,699,Aurorus,Rock,Ice,123,77,72,99,92,58,6,False
773,703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True

In [17]:
rock_speed = df[df["Type 1"] == "Rock"]

In [18]:
rock_speed["Speed"]

80      20
81      35
82      45
103     70
149     35
150     55
151     55
152     80
153    130
154    150
200     30
265     41
266     51
267     61
268     71
323     30
369     70
370     70
377     23
378     43
379     75
380     45
414     50
453     58
454     58
455     30
456     30
486     10
528     40
583     15
584     20
585     25
627     70
628    110
700    108
758     50
759     68
766     48
767     71
768     46
769     58
773     50
795     50
796    110
Name: Speed, dtype: int64

In [19]:
rock_speed["Speed"] >= 100

80     False
81     False
82     False
103    False
149    False
150    False
151    False
152    False
153     True
154     True
200    False
265    False
266    False
267    False
268    False
323    False
369    False
370    False
377    False
378    False
379    False
380    False
414    False
453    False
454    False
455    False
456    False
486    False
528    False
583    False
584    False
585    False
627    False
628     True
700     True
758    False
759    False
766    False
767    False
768    False
769    False
773    False
795    False
796     True
Name: Speed, dtype: bool

In [20]:
rock_speed[rock_speed["Speed"] >= 100]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
153,142,Aerodactyl,Rock,Flying,80,105,65,60,75,130,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False
628,567,Archeops,Rock,Flying,75,140,65,112,65,110,5,False
700,639,Terrakion,Rock,Fighting,91,129,90,72,90,108,5,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True

In [21]:
# find all rows where type 1 is rock and type 2 is electric
df["Type 1"] == "Rock"

0      False
1      False
2      False
3      False
4      False
       ...
795     True
796     True
797    False
798    False
799    False
Name: Type 1, Length: 800, dtype: bool

In [22]:
df["Type 2"] == "Electric"

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Name: Type 2, Length: 800, dtype: bool

In [23]:
df.groupby(["Type 1"]).count()

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112

In [24]:
df.groupby(["Type 1","Type 2"]).count()

                  #  Name  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
Type 1 Type 2
Bug    Electric   2     2   2       2        2        2        2      2
       Fighting   2     2   2       2        2        2        2      2
       Fire       2     2   2       2        2        2        2      2
       Flying    14    14  14      14       14       14       14     14
       Ghost      1     1   1       1        1        1        1      1
...              ..   ...  ..     ...      ...      ...      ...    ...
Water  Ice        3     3   3       3        3        3        3      3
       Poison     3     3   3       3        3        3        3      3
       Psychic    5     5   5       5        5        5        5      5
       Rock       4     4   4       4        4        4        4      4
       Steel      1     1   1       1        1        1        1      1

                 Generation  Legendary
Type 1 Type 2
Bug    Electric           2          2
       Fighting           2          2
       Fire               2          2
       Flying            14         14
       Ghost              1          1
...                     ...        ...
Water  Ice                3          3
       Poison             3          3
       Psychic            5          5
       Rock               4          4
       Steel              1          1

[136 rows x 10 columns]

In [25]:
# Find pockemon Where type 1 is water and Type 2 is ice
df[(df["Type 1"] == "Water") & (df["Type 2"] == "Ice")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
94,87,Dewgong,Water,Ice,90,70,80,70,95,70,1,False
98,91,Cloyster,Water,Ice,50,95,180,85,45,70,1,False
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False

In [40]:
# Find a pockemon where speed and attack is maximum
df[(df["Attack"] > 170) & (df["Speed"] > 140)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True